
.aboutme-container-text
{
    display: flex;
flex-direction: column;
justify-content: space-around;
}
.aboutimage{
    display: flex;
    justify-content: start;
    flex-direction: column;
    border-radius: 100px;
    border-bottom: 2px solid rgb(58, 185, 163);
    border-top: 2px solid rgb(58, 185, 163);

    color: rgb(255, 255, 255);


}


.aboutmeheading{
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
    padding: 20px;
}
.aboutus-sociallinks{
    width: 20%;
    display: flex;
list-style: none;
justify-content: space-around;
color: white;
padding: 10px;

margin : 0px auto;
}
 .aboutus-sociallinks > li{
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 50px;

  
}
button{
    color: rgb(3, 3, 3);
 background-color: rgb(11, 209, 176);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.downloadbutton{
 
    display: flex;
    justify-content: center ;
    margin-bottom: 20px;
}  
.aboutme-text{

font-size: larger;
padding: 50px;
}

.aboutus-sociallinks > li :hover{
    color:aquamarine
  
}
.aboutus-sociallinks > li >a:visited{
    color: rgb(247, 240, 240);


}


@media only screen and (max-width: 991px) {
    .aboutus-sociallinks{
        width: 100%;
      
    }
}

@media only screen and (max-width: 1024px) {
    .aboutus-sociallinks{
        width: 50%;
      
    }
  
  
 
  }